<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ChuoiKetNoi" connectionString="Data Source=DESKTOP-V5531D5\SQLEXPRESS;Initial Catalog=ATMManager;Integrated Security=True;MultipleActiveResultSets=true" />
    <add name="SV3.Properties.Settings.ATMManagerConnectionString"
      connectionString="Data Source=DESKTOP-V5531D5\SQLEXPRESS;Initial Catalog=ATMManager;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>